@tailwind base;
@tailwind components;
@tailwind utilities;
.image img{
    border-bottom-left-radius: 195px;
}
.image2 img{
    border-radius: 20px;
}
.image3 img{
    border-top-left-radius: 150px;
}
.image4 img{
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
}